<style type="text/css">
  .swiptable .title {
    width: 67%;
  }

  .swiptable .author {
    width: 33%;
  }
</style>
{% for status in site.data.statuses %}
  {% assign swips = include.swips|where:"status",status|sort:"siwp" %}
  {% assign count = swips|size %}
  {% if count > 0 %}
    <h2>{{status}}</h2>
    <table class="swiptable">
      <thead>
        <tr><th class="swipnum">Number</th><th class="title">Title</th><th class="author">Author</th></tr>
      </thead>
      {% for page in swips %}
        <tr>
          <td class="swipnum"><a href="{{page.url|relative_url}}">{{page.swip|xml_escape}}</a></td>
          <td class="title">{{page.title|xml_escape}}</td>
          <td class="author">{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
